body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}


.titulo {
    padding: 20px;
    text-align: center;
}


.formulario {
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
}


.formulario div {
    margin-bottom: 10px;
}


label {
    font-weight: bold;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #d1d5da;
}


button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #333;
}


.mensagem {
    font-weight: bold;
    color: #333;
    text-align: center;
}


.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


nav a:active {
    color: #fff;
}


nav a:visited {
    color: #fff;
}


.search {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}


.search input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.search h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


.search div {
    margin-bottom: 10px;
}


.nav-left, .nav-right {
    display: flex;
    align-items: center;
}


.nav-left a, .nav-right a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}


.nav-right form {
    display: inline;
}


.logout-button {
    background: none;
    border: none;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}
