<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../static/estilos.css">
    <meta charset="UTF-8">
    {% block titulo %}{% endblock %}
</head>
<body>
    <header class="header">
        <nav>
            <a href="/">Página inicial</a> |
            <a href="/cadastro">Cadastrar</a> |
            <a href="/login">Login</a>
        </nav>
    </header>
    <div class="titulo">
        <h1>My Book List</h1>
    </div>
    <br>
    <br>
    {% block conteudo %}{% endblock %}
</body>
</html>