{% extends "base.html" %}

{% block titulo %}
    <title>Cadastro</title>
{% endblock %}

{% block conteudo %}
<form method="POST" class="formulario">
    <div>
        <label for="tx-usuario">Usuário:</label><br>
        <input type="text" name="usuario" id="tx-usuario">
    </div>
    <div>
        <label for="tx-senha">Senha:</label><br>
        <input type="password" name="senha" id="tx-senha">
    </div>
    <button type="submit">Login</button>
    <p class="mensagem">{{ mensagem }}</p>
</form>
{% endblock %}